<div class="container">
  <div class="hcontent">
    <h1>Hungry?</h1>
    <h3>Order food from favourite restaurants near you.</h3>
  </div>
</div>
<div class="container">
  <div>
    <input
      class="Search "
      type="search"
      placeholder="Enter your delivery location"
    />
  </div>
  <div>
    <input class="search col-md-2" type="button" value="FIND FOOD" />
  </div>
</div>
<div class="container">
  /
  <p class="popular">
    POPULAR CITIES IN INDIA
  </p>
  <div class="citie">
    <a class="text-dark" routerLink="./ahmedabad">Ahmedabad</a>
    <a class="text-secondary" routerLink="./bang">Bangalore</a>
    <a class="text-dark" href="#">Chennai</a>
    <a class="text-secondary" href="#">Delhi</a>
    <a class="text-dark" href="#">Gurgaon</a>
    <a class="text-secondary" href="#">Hyderabad</a>
    <a class="text-dark" href="#">Kolkata</a>
    <a class="text-secondary" href="#">Mumbai</a>
    <a class="text-dark" href="#">Pune</a>&
    <a class="text-secondary" href="#">more</a>
  </div>
</div>
