<div class="row">
  <div class="col-md-6 leftHomeBlock">
    <section>
      <header>
        <app-header></app-header>
      </header>
    </section>
    <section>
      <main>
        <app-search></app-search>
      </main>
    </section>
  </div>
  <div class="col-md-6 rightHomeBlock">
    <img src="../../assets/images/rightlogo.jpg" />
  </div>
</div>

<div class="row">
  <section class="footert ">
    <div class="container">
      <footer>
        <div class=" left">
          <img src="../../assets/images/order.png" />

          <h4 class="orderc o text-light">No Minumum Order</h4>
          <p class="orderc order">
            Order in for yourself or for the group, with no restrictions on
            order
          </p>
        </div>
        <div class=" center">
          <img src="../../assets/images/track.png" />
          <h4 class="trackc t text-light">Live Order Tracking</h4>
          <p class="trackc track">
            Know where your order is at all times, from the restaurant to your
            doorstep
          </p>
        </div>
        <div class=" right">
          <img src="../../assets/images/delivery.png" />
          <h4 class="delc d text-light">Lightning-Fast Delivery</h4>
          <p class="delc del">
            Experience Swiggy's superfast delivery for food delivered fresh & on
            time
          </p>
        </div>
      </footer>
    </div>
  </section>
</div>

<section class="container">
  <div class=" fleft">
    <h1 class="text-dark">Restaurants in your pocket</h1>
    <p class="text-secondary">
      Order from your favorite restaurants & track on the go, with the all-new
      Swiggy app.
    </p>
    <div class="row">
      <p>
        <img class="one mt-2" src="../../assets/images/play.png" />
      </p>
      <p>
        <img class="two mt-2" src="../../assets/images/iOS.png" />
      </p>
      <div class="col-md-4 fcenter">
        <img src="../../assets/images/iphonec.png" />
      </div>
      <div class="col-md-4 fright">
        <img src="../../assets/images/iPhoner.png" />
      </div>
    </div>
  </div>
</section>
