img {
  width: 100%;
  background-size: cover;
}
.col-md-6 {
  padding: 0;
  margin: 0;
}
.footert {
  background: #2b1e16;
  width: 100%;
  height: 20%;
}
.left {
  margin-left: 66px;
  height: 10%;
  width: 10%;
}
.center {
  margin-left: 481px;
  margin-top: -209px;
  height: 10%;
  width: 10%;
}
.right {
  margin-left: 83%;
  margin-top: -15%;
  height: 10%;
  width: 10%;
}
.orderc,
.trackc,
.delc {
  color: wheat;
}
.orderc {
  float: left;
  padding-top: 44%;
}
.trackc {
  float: left;
  padding-top: 44%;
}
.delc {
  float: right;
  padding-top: 44%;
}
.order,
.del,
.track {
  padding-top: 0%;
}
.o {
  padding-top: 42%;
}
.t {
  margin-top: -93%;
}
.d {
  margin-top: -87%;
}
.fcenter {
  padding-left: 8%;
  margin-top: -16%;
  float: left;
}
.fright {
  padding-left: 6%;
  float: right;
  margin: 0%;
}
.fleft {
  padding-top: 10%;
  padding-bottom: 10%;
}
.one,
.two {
  height: 77px;
  width: 189px;
  margin: 26%;
  padding: 10%;
}
